<div class="position-absolute pos-bottom pos-left pos-right p-3 text-right pr-6">
    @DateTime.Now.Year © WorqBox &nbsp;by:
    <a href="http://www.reporteq.com" class="fw-500" style="text-decoration:none !important" title="Reporteq" target="_blank">
        Reporteq ®
    </a>
</div>