<input type="hidden" id="LoggedInUserID" value="@User.Claims.Where(c=>c.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value" />
<div class="modal fade" id="addResourceForcastModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header border py-3">
                <h4 class="modal-title">
                    Manage Forecast
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mb-5 needs-validation" id="upsertforcastform" novalidate enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="SelectListforMonth">Select Month</label>
                                <select class="form-control" name="BillingMonth" id="SelectListforMonth" required>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="SelectListforYear">Select Year</label>
                                <select class="form-control" name="BillingYear" id="SelectListforYear" required>
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label"  for="SelectListforProject">Select Project</label>
                                <select class="form-control SelectListforProjectLookup" name="ProjectId" id="SelectListforProject" required>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="EstimatedBillableHours">Estimated Billable Hours</label>
                                <input class="form-control" name="EstimatedBillableHours" id="EstimatedBillableHours" type="number">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="EstimatedNonBillableHours">Estimated Non Billable Hours</label>
                                <input class="form-control" name="EstimatedNonBillableHours" id="EstimatedNonBillableHours" type="number">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mt-4">
                                <button type="button" id="upsertforcastbtn" class="btn btn-primary"><i class="fal fa-save mr-1"></i> Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border py-2">
                <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/customscripts/projectforecastresource/_AddEditResourceForcastModal.js"></script>
