<div class="modal fade" id="assetAllocationModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header border py-3">
                <h4 class="modal-title">
                    Assest Allocation
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mb-5 needs-validation" id="upsertInventryAllocationForm" novalidate>
                    <input type="hidden" id="InventoryAllocationDetailID" name="InventoryAllocationDetailID" />
                    <input type="hidden" id="InventoryAssignDetailID" name="InventoryDetailID" />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="AssignedTo">Resource Name</label>
                                <select class="form-control SelectListforResourceLookup" name="AssignedTo" id="AssignedTo" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="AssignedDate">Allocation Date</label>
                                <input class="form-control" name="AssignedDate" id="AssignedDate" type="date">
                            </div>
                        </div>
                        <div class="col-lg-4 d-none" id="returnDateDive">
                            <div class="form-group">
                                <label class="form-label" for="ReturnDate">Return Date</label>
                                <input class="form-control" name="ReturnDate" id="ReturnDate" type="date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="form-label" for="Note">Notes</label>
                            <textarea class="form-control" id="Note" name="Note" rows="3" spellcheck="true"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border py-2">
                <button type="button" id="upsertInventryAllocationbtn" class="btn btn-primary"><i class="fal fa-save mr-1"></i> Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fal fa-times-circle mr-1 text-white"></i> Close</button>
            </div>
        </div>
    </div>
</div>
